
*.dll
*.dll
*.cache
*.info
*.info
*.info
.env.txt
KnowledgeExtraction.UnitTest/bin/Debug/net6.0/test.pdf
KnowledgeExtraction.UnitTest/bin/*
Persitence/.env
KnowledgeAndPreprocessing.UnitTest\debug\*\
KnowledgeAndPreprocessing.UnitTest/debug/*
Domain/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Domain/obj/Release/net6.0/Domain.AssemblyInfo.cs
Domain/obj/Release/net6.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
Domain/obj/Release/net6.0/Domain.GlobalUsings.g.cs
.vs/slnx.sqlite
KnowledgeExtraction/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
KnowledgeExtraction/obj/Release/net6.0/KnowledgeExtraction.AssemblyInfo.cs
KnowledgeExtraction/obj/Release/net6.0/KnowledgeExtraction.GeneratedMSBuildEditorConfig.editorconfig
KnowledgeExtraction/obj/Release/net6.0/KnowledgeExtraction.GlobalUsings.g.cs
Persitence/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Persitence/obj/Release/net6.0/Persitence.AssemblyInfo.cs
Persitence/obj/Release/net6.0/Persitence.GeneratedMSBuildEditorConfig.editorconfig
Persitence/obj/Release/net6.0/Persitence.GlobalUsings.g.cs
KnowledgeExtraction.UnitTest/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
KnowledgeExtraction.UnitTest/obj/Release/net6.0/KnowledgeExtraction.UnitTest.AssemblyInfo.cs
KnowledgeExtraction.UnitTest/obj/Release/net6.0/KnowledgeExtraction.UnitTest.GeneratedMSBuildEditorConfig.editorconfig
*.pdb
*.pdb
